body {
  background-color: #aaa;
  font-family: 'Poppins', sans-serif;
  padding-top: 60px;
  background: #4CB8C4;
  background: -webkit-linear-gradient(to right, #3CD3AD, #4CB8C4);
  background: linear-gradient(to right, #3CD3AD, #4CB8C4);
}
