body {
  background-color: #aaa;
  font-family: 'Poppins', sans-serif;
  padding-top: 60px;
  background: #4CB8C4;
  background: -webkit-linear-gradient(to right, #3CD3AD, #4CB8C4);
  background: linear-gradient(to right, #3CD3AD, #4CB8C4);
}
input:-webkit-autofill{
  background-color: #aaaaaa !important;
}
.react-datepicker{
  top: 80px;
}

.unit{
  font-size: 9px;
}
.unit-list{
  font-size: 12px;
  color: darkred;
}
.smooth-transition-std{
  transition: all 0.3s ease-in-out;
}
.removal-text{
  color: #aaa;
  text-align: center;
}
