.button{
  text-decoration: none;
  font-size: 13px;
  margin-top: 3px;
  @include atSmall{
    font-size: 20px;
  }
  padding: 0 10px;
  line-height: 30px;
  @include atSmall{
    line-height: 60px;
  }
  color: #444;
  font-weight: 900;
  border: none;
  &:active{
    outline: none;
  }
  &:focus{
    outline: none;
  }
  &--pull-right{
    float: right;
  }
  &--clear{
    background: transparent;
  }
  &:hover{
    color: #aaa;
    cursor: pointer;
  }
  &--remove-user{
    color: #aaa;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
  }
  &--login{
    background-color: $btn-green;
    color: black;
    position: relative;
    z-index: 10;
    &--removal{
      background-color: red;
    }
    margin: 0 auto;
    display: block;
    width: 200px;
    border-radius: 20px;
    @include box-shadow;
    transition: all 0.1s ease-in-out;
    text-align: center;
    &:hover{
      box-shadow: none;
      color: black;
    }
  }
  &--to-sign-up{
    background-color: darkorange;
    width: 90%;
    margin: 30px auto;
    @include atSmall{
      width: 300px;
      margin: 60px auto 0 auto;
    }

  }
}

.btn{
  position: absolute;
  text-decoration: none;
  color: #aaa;
  font-size: 12px;
  @include atSmall{
    font-size: 15px;
  }
  background-color: transparent;
  border: none;
  &--small-size{
    font-size: 12px;
  }
  &--lg{
    font-size: 20px;
    @include atSmall{
      font-size: 25px;
    }
  }
  &--md{
    font-size: 20px;
  }
  transition: all 0.1s ease-in-out;
  &:hover{
    transform: scale(1.2);
    cursor: pointer;
  }
  &--small-scale-hover:hover{
    transform: scale(1.1);
  }
  &--orange-const{
    color: darkorange;
  }
  &--green-const{
    color: darkgreen;
  }
  &--red-const{
    color: red;
  }
  &--center{
    left: 50%;
    transform: translateX(-50%);
    &:hover{
      transform: translateX(-50%) scale(1.2);
    }
  }
  &--right-bot{
    right: 10px;
    bottom: -38px;
  }
  &--right-bot-v2{
    right: 10px;
    bottom: -80px;
    @include atSmall{
      bottom: -90px;
    }
  }
  &--left-bot{
    left: 10px;
    bottom: -38px;
  }
  &--left-bot-v2{
    left: 10px;
    bottom: -80px;
    @include atSmall{
      bottom: -90px;
    }
  }
  &--top-right{
    top: -18px;
    right: 10px;
  }
  &--top-left{
    top: -18px;
    left: 10px;
  }
  &--pull-down{
    top: 5px;
  }
  &--top-right-detail-v{
    top: 5px;
    right: 10px;
  }
  &--top-left-detail-v{
    top: 5px;
    left: 10px;
  }
  &--top-left-detail-v2{
    top: 5px;
    left: 110px;
  }
  &--orange{
    &:hover{
      color: darkorange;
    }
  }
  &--green{
    &:hover{
      color: darkgreen;
    }
  }
  &--red:hover{
    color: red;
  }

  &:focus{
    outline: none;
  }
}
// btn--orange-const btn--right-bot
