.button{
  text-decoration: none;
  font-size: 20px;
  padding: 0 10px;
  line-height: 60px;
  color: black;
  font-weight: 900;
  border: none;
  &--pull-right{
    float: right;
  }
  &--clear{
    background: transparent;
  }
  &:hover{
    color: #444;
    cursor: pointer;
  }
  &--login{
    background-color: $btn-green;
    margin: 0 auto;
    display: block;
    width: 200px;
    border-radius: 20px;
    @include box-shadow;
    transition: all 0.1s ease-in-out;

    &:hover{
      box-shadow: none;
      color: black;
    }
  }
}
