.form{
  &__input{
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 30px;
    @include atSmall{
      padding: 15px;
      font-size: 20px;
      margin-bottom: 50px;
    }
    border: none;
    background-color: #ddd;
    border-radius: 10px;
    text-align: center;
    border: 2px solid transparent;
    &--bot-margin{
      margin-bottom: 0;
    }
    &--less-margin-bot{
      margin-bottom: 35px;
    }
    transition: all 0.2s ease-in-out;

    &:focus{
      outline: none;
      background-color: #aaa;
      border: 2px solid black;
    }
    &--shopping-list-size{
      font-size: 15px;
      padding: 10px;
      @include atSmall{
        font-size: 20px;
        padding: 15px;
      }
    }
  }
  &__title{
    text-align: center;
    margin: 0 auto 30px 0;
    font-size: 28px;
    @include atSmall{
      font-size: 35px;
    }
    &--dark-grey{
      color: #444;
    }
  }
  &__date-picker{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.form-msg{
  color: darkred;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  &--hints{
    color: #aaa;
    bottom: -20px;
  }
  &--pull-up{
    bottom: 55px;
  }
  &--pull-down{
    bottom: -55px;
  }
  &--pull-down-more{
    bottom: -95px;
  }
}
