.row{
  @include clearfix;
  @include mediumWidthModif{
    display: flex;
    justify-content: center;
  }
}
.col{
  float: left;
  box-sizing: border-box;
  &--6{
    width: 100%;
    @include atSmall{
      width: 33.33%;
    }
  }
}
