.header{
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  @include box-shadow;
  &__navigation{
    @include clearfix;
    height: 60px;
  }

  &__title{
    float: left;
    margin: 10px 0;
    padding: 0 10px;
  }
  &__username{
    color: darkred;
    font-weight: 400;
  }
}
