.landing-container{
  width: 95%;
  margin: 80px auto;
  @include atSmall{
    width: 600px;
    height: 400px;
    margin: 150px auto;
  }
  background-color: white;
  @include box-shadow;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  animation: container-animation 12s linear;
}
//100 -- 12
//85.3 -- x
@keyframes container-animation {
  0%{
    opacity: 0;
    @include atSmall{
      width: 300px;
      height: 200px;
    }
  }
  3%{
    opacity: 1;
    @include atSmall{
      width: 600px;
      height: 400px;
    }
  }
  6.6%{
    transform: rotateZ(0deg);
  }
  7%{
    transform: rotateZ(1deg);
  }
  7.6%{
    transform: rotateZ(-1deg);
  }
  8.6%{
    transform: rotateZ(0deg);
  }
  31.6%{
    transform: rotateZ(0deg);
  }
  32%{
    transform: rotateZ(1deg);
  }
  32.6%{
    transform: rotateZ(-1deg);
  }
  33.6%{
    transform: rotateZ(0deg);
  }
  56.6%{
    transform: rotateZ(0deg); // 1
  }
  57%{
    transform: rotateZ(1deg); // 2
  }
  57.6%{
    transform: rotateZ(-1deg); // 3
  }
  58.6%{
    transform: rotateZ(0deg); // 4
  }
  85.3%{
    transform: rotateZ(0deg);
  }
  85.7%{
    transform: rotateZ(1deg);
  }
  86.3%{
    transform: rotateZ(-1deg);
  }
  87.3%{
    transform: rotateZ(0deg);
  }
  100%{
    opacity: 1;
    @include atSmall{
      width: 600px;
      height: 400px;
    }
  }
}

.landing-title{
  font-size: 23px;
  @include atSmall{
    font-size: 40px;
  }
  &--orange{
    color: darkorange;
  }
  &--red{
    color: darkred;
  }
  &--green{
    color: green;
  }
  &--margin-modifier{
    margin-top: 30px;
    margin-bottom: 30px;
    @include atSmall{
      margin-top: 0px;
      margin-bottom: 50px;
    }
  }
}

.landing-text{
  color: #aaa;
  font-size: 12px;
  text-align: center;
  @include atSmall{
    font-size: 20px;
  }
  font-weight: 900;
  animation: landing-text-animation 12s linear;
}
@keyframes landing-text-animation {
   0%{
     opacity: 0;
   }
   83%{
     opacity: 0;
     transform: scale(1.2);
     @include atSmall{
        transform: scale(1.6);
     }
   }
   85.3%{
     opacity: 1;
     transform: scale(1);
   }
}
.animation{
  opacity: 0;
  position: absolute;
  top: 70%;
  width: 80%;
  text-align: center;
  @include atSmall{
    top: 100%;
    width: 100%;
  }

  &--1{
    animation: title-animation 3s linear;
    animation-delay: 0.5s;
  }
  &--2{
    animation: title-animation 3s linear;
    animation-delay: 3.5s;
  }
  &--3{
    animation: title-animation 3s linear;
    animation-delay: 6.5s;
  }
}

@keyframes title-animation {
  0%{
    top: 35%;
    opacity: 0;
    transform: scale(1.2);
    @include atSmall{
      transform: scale(1.6);
    }
  }
  10%{
    opacity: 1;
    transform: scale(1);
    top: 35%;
  }
  80%{
    top: 35%;
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: scale(1);
  }
}
