.summaryDisplay{
  display: none;
  @include mediumWidthModif{
    display: block;
  }
  position: static;
  width: 60%;
  box-shadow: none;
  margin: 0 auto;
  text-align: center;
  p{
   display: inline;
   line-height: 35px;
   font-size: 10px;
   margin: 0 5px;
   @include atSmall{
     line-height: 60px;
     font-size: 12px;
      display: inline;
   }
   color: #aaa;
  }
  &--hidden{
    display: none;
  }
}
