.wrapper-form{
  background-color: white;
  width: 700px;
  &--item-size{
    width: 600px;
  }
  &--center{

  }
  margin: 0 auto;
  margin-top: 60px;
  @include box-shadow;
  padding: 30px 0 50px 0;
  &--item-size{
    margin-top: 0;
    transform: scale(0.8);
  }
  &--move-up{
    margin-top: -30px;
  }
}
.wrapper{
  margin-top: 30px;
  padding: 0 3%;
}
.wrapper-helper{
  position: relative;
}
.wrapper-for-shopping-list{
  margin-top: 50px;
}
